@page "{id:int?}"
@model CarRentProj.Pages.CarModels.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarModel[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CarModelData.CarModels)
        {
            string selectedRow = "";
            if (item.Id == Model.CarModelID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Index" asp-route-id="@item.Id">Select</a> |
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.CarModelData.Cars != null)
{
     <h3>Cars Maded by Selected Model</h3>
    <table class="table">
        @foreach (var item in Model.CarModelData.CarModels)
        {
            string selectedRow = ""; 
            if (item.Id == Model.CarModelID)
            { 
                selectedRow = "table-success"; 
            }
            <tr class="@selectedRow">
                <td>
                    @{
                        foreach (var b in item.Car)
                        {
                             @b.CarModel.Name @: <strong>Make Name:</strong> @b.Make.MakeName <strong>Colour:</strong> @b.Colour.Name <strong>Year Manufacuturer:</strong> @b.Year <strong>Plate Number:</strong> @b.LicensePlateNumber
                            <br />
                        }
                    }
                </td>
            </tr>
        }
    </table>
}
